* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 70px;
}

.calculator-card {
    padding: 1%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid #3ad61b;
    border-radius: 10%;
    
}

img {
    width: 400px;
}

.text-input {
    width: 150px;
    height: 30px;
    margin: 10px;
    border: 0.5px solid #4CAF50;
    border-radius: 3%;
    font-size: 16px;
}

.calculator-button {
    background-color: white; 
    color: black; 
    border: 1px solid #4CAF50;
    border-radius: 3%;
    height: 40px;
    width: 100px;
    box-shadow: 5px 3px 0px 1px #00000033;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.calculator-button:hover {
    background-color: #4CAF50;
    color: white;
}

.calculated-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 200px;
}
